table
{
    border-collapse: collapse;
    width: 50%;
}
thead
{
    border: 1px solid white;
    background-color: dodgerblue;
}
#body tr:nth-child(2n+1)
{
    background-color: gainsboro;
}
#body
{
    border: 1px solid dodgerblue;
}